html * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

body {
    margin: 0;
    padding: 0;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #E5E7EB;
}

.flex-container {
    display: flex;
    margin: 0;
    padding: 0 100px 0 100px;
}

.flex-item {
    flex: 1;
}

.dark-background {
    background-color: #1F2937;
}

.hero-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;   
    color: #F9FAF8;
    margin: 0px;
}

.hero-secondary-text, 
.hero-link-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
}

.information-header-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

ul.hero-link-text {
    display: flex;
    list-style: none;
    gap: 30px;
}

#navigation {
    justify-content: space-between;
    align-items: baseline;
}

#starter {
    padding: 100px 100px 100px 100px;
    gap: 100px;
}

#starter button {
    background-color: #3882F6;
    border: 0px;
    border-radius: 8px;
    height: 35px;
    width: 100px;
    margin-top: 20px;
    font-size: 16px;
}

#starter .right {
    background-color: gray;
    align-items: center;
    flex-shrink: 5;
}

#information ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

#information ul.information-secondary-text {
    display: flex;
    font-size: 13px;
    color: #1F2937;
    list-style: none;
    gap: 50px;
    text-align: center;
    justify-content: center;
    padding: 0 125px 0 125px;
    margin-bottom: 50px;
}

.blue-border {
    border: 2px solid #3882F6;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
}

#quote {
    background-color: #E5E7EB;
    padding: 100px 125px 100px 125px;
}

.quote-main-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    text-align: justify;
}

.quote-secondary-text {
    font-size: 16px;
    font-weight: 1000;
    color: #1F2937;
    text-align: right;
}