h1 {
    text-align: center;
}

#pen {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 25px;
}

#paper {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 25px;
}

.inked {
    background-color: black;
}


.container {
    display: flex;
    flex-direction: column;
    border: 0.5px solid black;
    margin:0 auto;
    /* flex-wrap: wrap; */
}

.row {
    display: flex;
    /* background-color: skyblue; */
    flex: 1;
}

.cell {
    border: 0.5px solid black;
    gap: 0;
    flex: 1;
}